$color_1: #fff;
$color_2: #212121;
$color_3: #F44336;
$border-color_1: #ddd;
$border-color_2: #FF9800;

/* Truncate */
.wsk-cp-product {
	background: #fff;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	margin: 20px auto;
	&:hover {
		.wsk-cp-img {
			top: -40px;
			img {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			}
		}
		.wsk-cp-text {
			.category {
				>span {
					border-color: $border-color_1;
					box-shadow: none;
					padding: 11px 25px;
				}
				margin-top: 0px;
			}
		}
	}
}
.wsk-cp-img {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	-khtml-transform: translate(-50%);
	width: 100%;
	padding: 15px;
	transition: all 0.2s ease-in-out;
	img {
		width: 100%;
		transition: all 0.2s ease-in-out;
		border-radius: 6px;
        height: 250px;
	}
}
.wsk-cp-text {
	padding-top: 250px;
	.category {
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		padding: 5px;
		margin-bottom: 45px;
		position: relative;
		transition: all 0.2s ease-in-out;
		>* {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			-khtml-transform: translate(-50%,-50%);
		}
		>span {
			padding: 12px 26px;
			border: 1px solid #313131;
			background: #212121;
			color: $color_1;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
			border-radius: 27px;
			transition: all 0.05s ease-in-out;
		}
	}
	.title-product {
		text-align: center;
		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 15px auto;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 100%;
		}
	}
	.description-prod {
		p {
			margin: 0;
		}
		text-align: center;
		width: 100%;
		height: auto;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin-bottom: 15px;
	}
}
.card-footer {
	padding: 25px 0 5px;
	height: 66px;
	border-top: 1px solid #ddd;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	&:before {
		content: '';
		display: table;
	}
	.wcf-left {
		float: left;
	}
	.wcf-right {
		float: right;
	}

	.btns {
		width: 60%;
	}
}
.price {
	font-size: 18px;
	font-weight: bold;
}
button.buy-btn {
	display: block;
	color: $color_2;
	text-align: center;
	font-size: 18px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	border: 1px solid #212121;
	transition: all 0.2s ease-in-out;
	&:hover {
		border-color: $border-color_2;
		background: #FF9800;
		color: $color_1;
		text-decoration: none;
	}
	&:active {
		border-color: $border-color_2;
		background: #FF9800;
		color: $color_1;
		text-decoration: none;
	}
	&:focus {
		border-color: $border-color_2;
		background: #FF9800;
		color: $color_1;
		text-decoration: none;
	}
}
.wsk-btn {
	display: inline-block;
	color: $color_2;
	text-align: center;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
	border-color: $border-color_2;
	background: #FF9800;
	padding: 12px 30px;
	border-radius: 27px;
	margin: 0 5px;
	&:hover {
		text-decoration: none;
		color: $color_1;
	}
	&:focus {
		text-decoration: none;
		color: $color_1;
	}
	&:active {
		text-decoration: none;
		color: $color_1;
	}
}
.red {
	color: $color_3;
	font-size: 22px;
	display: inline-block;
	margin: 0 5px;
}
@media (max-width: 767px) {
	.wsk-cp-product {
        margin: 40px auto;
        &:hover {
            .wsk-cp-img {
                top: 0;
            }
        }
		.wsk-cp-img {
            top: 0;
            position: relative;
			img {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                height: auto;
                max-height: 400px;
			}
		}
		.wsk-cp-text {
            padding-top: 40px;
			.category {
				>span {
					border-color: $border-color_1;
					box-shadow: none;
					padding: 11px 26px;
				}
				margin-top: 0px;
			}
		}
	}
	button.buy-btn {
		border-color: $border-color_2;
		background: #FF9800;
		color: $color_1;
	}
}